.themeTitle{
    font-size: 2rem;
    font-weight: 400;
    color: gray;
    text-align: center;
    text-transform: capitalize;
    margin-top: 2rem;

}
.theme-paging{

    justify-content: center;
    margin-bottom: 1em;
}

.tag-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    height: auto;
}






