
/* src/components/ThemesDropdown.css */
.dropdown {
    position: relative;
    display: inline-block;

}

.theme-dropbtn {
    background-color:rgb(12, 15, 18);
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    padding-top: 1.5em;
}
.theme-dropbtn:hover {
    color: yellow;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:'roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    color: yellow;
}
